/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* variables */

:root {
    --light-blue: #9CB4DA;
    --blue: #7E95C1;
    --dark-blue: #5E6984;
    --orange: #FAB87D;
    --gray: #8A8D92;
    --silver: #F1F3F4;

}

html {
    height: 100%;
}
body {
    min-height: 100%;
}

a {
    white-space: nowrap;
    text-decoration: none;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 20vh;
    /* border-style: solid;
    border-color: black;
    border-bottom-width: 6px; */
    padding: 0 16px 0 16px;
}

.nav-bar-logo {
    width: auto;
    height: 60px;
}

.call-button {
    text-decoration: none;
    background-color: var(--orange);
    color: black;
    padding: 8px 50px 8px 50px;
    font-size: 1.5em;
    border-radius: 50px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    transition: 0.5s;
    white-space: nowrap;
}

.call-button:hover {
    color: white;
    background-color: var(--light-blue);
    transition: 0.5s;
}

.list-icon {
    height: auto;
    width: 40px;
}

#hero {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/hero-background-dark.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    
}

.hero-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 60px;
}

.hero-title {
    font-size: 3em;
    font-family: 'Noto Serif', serif, sans-serif, "Helvetica Neue";
}

.hero-text {
    font-size: 1.5em;
}

#about {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-container {

}

.about-title {

}

.about-text {

}

.about-image {

    height: auto;
    max-width: 400px;
    /* border-radius: 50px; */

}

#services {
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #091324;
    flex-wrap: wrap;
}

#services > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.main-services-title {
    text-align: center;
    font-family: 'Noto Serif', serif, sans-serif, "Helvetica Neue";
    margin: 16px;
    color: white;

}

.service-title {
    color: white;
    white-space: nowrap;
}

.service-desc {
    color: white;
    text-align: center;
}

.learn-more {

}

.service-image-1, .service-image-2, .service-image-3 {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    /* border-radius: 50px; */
}

.service-image-1 {
    background-image: url(assets/misc/window-cleaning.jpg);
}

.service-image-2 {
    background-image: url(assets/misc/gutter-cleaning.jpg);
}

.service-image-3 {
    background-image: url(assets/misc/pressure-washing.jpg);
}

.service-text {
    color: white;
}

#projects {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
}

.projects-title {
    margin: 24px;
}

#before-and-after {
}

.carousel-item img {
    height: 80vh;
    object-fit: contain;
    object-position: center;
    overflow: hidden;
}

@media (max-width: 970px) {
    .hero-container {
        align-items: flex-start;
    }
}

/* @media (max-width: 700px) {
    .service-image-1, .service-image-2, .service-image-3 {
        background-image: none;
        height: 0;
        width: 0
    }
} */