/* css reset */
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */

/* variables */

:root {
    --light-blue: #9CB4DA;
    --blue: #7E95C1;
    --dark-blue: #5E6984;
    --orange: #FAB87D;
    --gray: #8A8D92;
    --silver: #F1F3F4;
    font-size: 1.2rem;
}

body, html {
    width: 100%;
    overflow-x: hidden;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
}

a {
    white-space: nowrap;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Refer to body to overwrite Bootstrap's 'reboot' */
body h2 {
    font-size: 2rem;
}

body h3 {
    font-size: 1.5rem;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 20vh;
    /* border-style: solid;
    border-color: black;
    border-bottom-width: 6px; */
    padding: 0 16px 0 16px;
}

.nav-bar-logo {
    width: auto;
    height: 60px;
}

/* .estimate-btn {
    text-decoration: none;
    background-color: var(--orange);
    color: black;
    padding: 8px 50px 8px 50px;
    margin: 16px;
    font-size: 1.2em;
    border-radius: 50px;
    transition: 0.5s;
    white-space: nowrap;
    text-align: center;
} */

.learn-btn {

}

/* .estimate-btn:hover {
    color: white;
    background-color: var(--light-blue);
    transition: 0.5s;
} */

.estimate-btn {
  display:inline-block;
  background:#e70;
  color:white;
  font-size:1.4em;
  /* font-weight:bold; */
  padding:.5em .7em;
  line-height:1;
  text-decoration:none;
  border:solid 2px rgba(255,255,255,.45);
  border-radius:.65em;
  text-shadow:1px 1px #000;
  box-shadow: 0px 6px 0 2px #642, 0 2px 0 2px #642;
  transition:.15s  ease-in;
  transform-origin:bottom;
  text-align: center;
 }
.estimate-btn:hover {
  background: var(--light-blue);
  box-shadow: 0px 7px 0 2px var(--dark-blue), 0 2px 0 2px var(--dark-blue);
  transform: translate(0px, -1px);
}
.estimate-btn:active {
  box-shadow: 0px 1px 0 1px var(--dark-blue), 0 1px 1px 1px #000;
  transform: translate(0px, 5px);
  transition:.08s ease-out;
}

#hero {
    /* height: 80vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/hero-background-dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.hero-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 60px;
}

.hero-title {
    font-size: 3em;
    font-family: 'Noto Serif', serif, sans-serif, "Helvetica Neue";
}

.hero-text {
    font-size: 1.5em;
}

#about {
    /* height: 80vh; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    padding: 50px;
    /* toggle for responsive design */
    /* flex-wrap: wrap; */
}

.about-image {
    height: auto;
    max-width: 400px;
    width: 100%;
    /* border-radius: 50px; */

}

#about div > * {
    margin: 24px;
}

#services {
    /* height: 150vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1c1c1c;
    flex-wrap: wrap;
    padding: 50px;
}

#services img {
    height: 300px;
    width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

#services a {
    text-decoration: none;
}

#services > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;
    text-align: center;
}

.main-services-title {
    text-align: center;
    font-family: 'Noto Serif', serif, sans-serif, "Helvetica Neue";
    margin: 16px;
    color: white;

}

#services h3, #services p {
    color: white;
}

#services h3 {
    white-space: nowrap;
}

/* .service-title {
    color: white;
    white-space: nowrap;
}

.service-desc {
    color: white;
    text-align: center;
} */


/* .service-image-1, .service-image-2, .service-image-3 {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-repeat: no-repeat;
} */

.service-text {
    color: white;
}

#projects {
    /* height: 130vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.projects-text {
    display: flex;
    flex-direction: column;
    margin: 24px;
}


.carousel-item img {
    height: 90vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#locations {
    background-color: #1c1c1c;
    display: flex;
    gap: 16px;
    /* height: 60vh; */
    padding: 50px;
    overflow:hidden;
}

#locations h2, #locations p {
    color: white;
}

#locations img {
    height: 20%;
    width: 20%;
    /* change black symbol to white */
    filter: invert(100%) sepia(0%) saturate(5584%) hue-rotate(115deg) brightness(121%) contrast(111%);
}

.cities {
    color: orange;
    font-weight: bold;
    margin: 12px;
    word-spacing: 1.5rem;
    text-align: center;
}

#reasons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#reasons h3 {
    margin-bottom: 24px;
}

#reasons > div {
    margin: 42px;
}

.icon {
    height: auto;
    width: 30px;
    margin-right: 0.3rem;
    /* to match p element's margin */
    margin-bottom: 1rem;
}

.reasons-main-image {
    /* background-image: url("assets/window-cleaning.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
    height: auto;
    width: 60%;
}

#reasons li {
    display: flex;
    align-items: center;
}

#steps {
    background-image: url(assets/house-washing.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

#steps h3 {
    color: white;
}

.btn-container {
    margin: 24px 0 24px 0;
}

/* Overwrite button styling with JS */
.active-btn { 
    color: white !important;
    background-color: black !important;
}

.btn-container button {
    height: 70px;
    width: 70px;
    font-size: 0.8rem;
    border-radius: 70%;
    text-decoration: none;
    background-color: white;
    color: black;
    margin: 8px;
    white-space: nowrap;
    border-style: solid;
    border-color: black;
    border-width: 4px;
}

.btn-container button:hover {
    transition: 0.5s;
    background-color: black;
    color: white
}

.text-container {
    color: white;
    /* background-color: #091324; */
    background-color: rgba(0, 0, 0, 0.7);
    border-style: solid;
    border-color: white;
    border-width: 2px;
    padding: 30px;
    width: 70%;
    height: 80vh;
    overflow-y: scroll;
}

.text-container > * {
    margin: 32px;
}

#dynamic-header {
    font-weight: bold;
}

/* .reasons-list img {
    height: auto;
    width: 25px;
} */

footer {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    flex-wrap: wrap;
}

.footer-icon {
    height: auto;
    width: 30px;
    margin-right: 0.3rem;
    /* to match p element's margin */
}

footer ul {
    margin: 0;
    padding: 0;
}

footer a {
    text-decoration: none;
    color: var(--blue);
}

footer a:hover {
    color: orange;
    transition: 0.4s;
}

.footer-container-1 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

.footer-container-2 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
}

/* classes for sub-pages*/

#hero-sub-page {
    /* height: 70vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/hero-background-dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-container-visible {
    height: 70vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 60px;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    padding: 24px;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-y: scroll;
}

.accordion {
    width: 100%;
}

.accordion-body {
    background-color: #1a1a1a;
    color: white;
}

.accordion-button {
    background-color: black;
    color: black;
}

#images-sub-page {
    text-align: center;
    margin: 36px 0 36px 0;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.images-container img {
    height: 70vh;
    /* object-fit: cover;
    object-position: center;*/
}

.images-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

/* .hero-text-small {
    font-size: 1rem;
} */

@media (max-width: 970px) {
    .hero-container {
        align-items: flex-start;
    }
}

@media (max-width: 1100px) {
    #about {
        flex-direction: column;
    }
}

@media (max-width: 1300px) {
    #services > div {
        flex-direction: column;
        gap: 12px;
        margin-top: 72px;
    }

    #services p {
        white-space: wrap;
    }

    #locations {
        flex-direction: column;
    }
}

@media (max-width: 1370px) {
    #projects {
        flex-direction: column;
        gap: 36px;
        padding: 50px;
    }
}

@media (max-width: 840px) {
    #reasons {
        flex-direction: column-reverse;
        justify-content: center;
        padding: 24px;
    }

    .reasons-main-image {
        width: 100%;
    }
}
/* Next time try using rem for padding */
@media (max-width: 500px) {
    :root {
        font-size: 1rem;
    }

    #steps {
        padding: 36px;
    }

    /* decrease button spacing for steps section */
    #btn1, #btn2, #btn3 {
        margin: 2px;
    }    

    #projects {
        padding: 0px;
    }

    #services {
        padding: 18px;
    }

    #about {
        padding: 12px;
    }

    #locations {
        padding: 24px;
    }

    .hero-container-visible {
        font-size: 80%;
        margin: 32px;
    }
}

@media (max-width: 390px) {
    #services img {
        height: 240px;
        width: 240px;
    }

    #services > div {
        margin-top: 48px;
        margin-bottom: 24px;
    }
}

@media (max-width: 900px) {
    .text-container {
        width: 100%;
    }
}

@media (max-width: 600px) {
    /* decrease spacing within text container for steps section*/
    .text-container > * {
        margin: 6px;
    }

    .text-container {
        padding: 12px;
    }
}

/* @media (max-width: 700px) {
    .service-image-1, .service-image-2, .service-image-3 {
        background-image: none;
        height: 0;
        width: 0
    }
} */